body {
  margin: 0;
  max-width: 100%;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  list-style: none;
}
li {
  float: left;
}
div {
  float: left;
  margin-right: 5px;
}
nav {
  display: flex;
  background-color: pink;
}
.row-inner {
  flex: left;
  display: flex;
}
.row {
  display: block;
  align-items: center;
  text-align: center;
  width: 100%;
}
.container {
  width: 100%;
  justify-content: space-between;
}

image {
  align-items: center;
}
.menu-table {
  display: table;
  table-layout: fixed;
  width: 500px;
  margin: 0 auto;
}
.menu-table-inner {
  display: table-cell;
  /* text-align: center; */
  width: 20%;
  text-align: center;
  vertical-align: middle;
}
.pageTop {
  position: fixed;
  right: 0;
  bottom: 70px;
  transition: ease opacity 0.4s;
  pointer-events: none;
  /* opacity: 0; */
  color: #9b308c;
  z-index: 3000;
  background-color: aqua;
}
.thumb {
  width: 320px;
  height: 150px;
}
